{% extends 'layouts.html' %} {% block title %}
<title>Items</title>
{% endblock %} {% block main_content %} {% for msg in messages %}
{% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success">{{msg}}</div>
{% endif %} {% endfor %}
<div class="container-fluid mt-2">
    <div class="justify-content-center mb-2">
        <a href="/admin/additem" class="btn btn-primary">Add Products</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Food Item</th>
                <th>Price</th>

                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in items %}
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.item_name}}</td>
                <td>{{post.item_price}}</td>

                <td>{{post.item_description}}</td>
                <td><img src="/{{post.item_image}}" alt="" width="180" /></td>
                <td>
                    <a href="/admin/updateitem/{{post.id}}" class="btn btn-secondary">
                        <i class="bx bxs-edit"></i>Edit
                    </a>
                    &nbsp;
                    <a href="/admin/deleteitem/{{post.id}}" class="btn btn-danger"
                        onclick="return confirm('Delete {{post.item_name}}?')">
                        <i class="bx bxs-trash"></i>Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}