{% extends 'client/layouts.html' %}
{% load static %}

{% block title %}
<title>Doge Foods || Menu</title>
{% endblock %}

{% block main_content %}
<div class="container bg-dark ">
    <div class="about-df">
        <h1 class="text-center text-success">About Doge Foods</h1>
        <br>
        <div class="about-text text-white text-center">
            Doge Foods, a project of Food Delivery Brand, is today's most popular restaurant chain specializing in
            having
            the best of both if not all restaurant chains.
            Extra Crispy Strips and Extra Crispy Boneless, with home-style sides, Hot Wings, and freshly made chicken
            sandwiches.
            Most loved and fastest growing retail chains now increasing.
        </div>
        <div class=" about-text text-white text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus veritatis eos neque ipsum non voluptatum
            repudiandae in, optio quisquam, magni deserunt accusantium eveniet vero illo blanditiis repellendus id alias
            sit architecto. Cupiditate veniam aspernatur consequuntur obcaecati maiores a dolorem eligendi molestiae
            architecto tempore, modi, laudantium optio. Quaerat illo soluta praesentium alias fuga distinctio odit
            nesciunt! Magnam et qui eos quaerat iure, repellendus provident repellat dolores doloribus. Dolor culpa
            sequi, ex mollitia modi voluptate, quo labore ducimus expedita eum qui velit exercitationem dolores
            quisquam. Repellendus, ut delectus amet molestiae, dignissimos cupiditate ratione temporibus aspernatur, ea
            error laudantium distinctio dolorem perferendis quam?
        </div>
    </div>

</div>

{% endblock %}